{% extends 'base.html' %}
{% load templatetags %}

{% block content %}

    <h1>Hallo {{ player.name }}!</h1>
<hr>

    <div class="row">
        <div class="col-6">
            <h2>Rangliste</h2>


        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Spieler</th>
      <th scope="col">Punkte</th>
    </tr>
  </thead>
  <tbody>
  {% for p in ranking %}
    <tr {% if p == player %}class="table-primary"{% endif %}>
      <th scope="row">{{ forloop.counter  }} </th>
      <td>{{ p.name }}</td>
      <td>{{ p.elo|floatformat:"0" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
        </div>

        <div class="col-6">
        {% if latest_matches %}
            <h2>Die letzten Matches:</h2>
            {% for match in latest_matches %}
                <p>{% include "fragments/match.html" %}</p>
            {% endfor %}
        {% endif %}
        </div>
    </div>

{% endblock %}