{% load static %}
{% load templatetags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Next Dart Liga</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "base.css" %}" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">Next Dart Liga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% if not player %}
                <li class="nav-item {% active "login" %}"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item {% active "signup" %}"><a class="nav-link" href="{% url 'signup' %}">Anmelden</a></li>
            {% endif %}
            {% if player %}
                <li class="nav-item {% active "home" %}"><a class="nav-link" href="{% url 'home' %}">Rangliste</a></li>
                <li class="nav-item {% active "matches" %}"><a class="nav-link" href="{% url 'matches' %}">Alle Partien</a></li>
                <li class="nav-item {% active "result" %}"><a class="nav-link" href="{% url 'result' %}">Ergebnis Eintragen</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<main role="main" class="container">
    {% block content %} {% endblock %}
</main>

<script type="text/javascript" src="{% static "assets/jquery-3.3.1.min.js" %}"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>

